
.app {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

button:active {
  background-color: #1e7e34;
  transform: scale(1);
}
